.vscode
passos.txt
NOTES.txt
Saida_Preliminar.txt
teste

~$Saida_Preliminar.txt
~$Saida_Preliminar1.txt
~$Saida_Teste.txt
~$regex.txt
~$teste.xlsx
~$teste1.xlsx
~$~$teste1.xlsx
saida.xlsx
xsaida.xlsx
test.py
teste.py
test2.py
bkup.py
__pycache__
Pyinstaller
tests
build
dist
teste.xlsx
teste1.xlsx
teste2.xlsx